<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
	<title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAF8IVxkffX0Yt2A-7Ez_MwG25aGR49GiM&signed_in=true&libraries=places&callback=initialize" async defer></script>
<script src="/public/javascript/script.js"></script>

</head>
<body>

	<p>********************This will be our homepage. Make everything functional before adding css.</p>

	<h1>Welcome to ultimate image hosting website</h1>
	<h4>Login with Facebook: </h4>
	<div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
<br>


      <!-- maps -->
      <div>
        <div id="map">
        </div>
      </div>


<!-- <fb:login-button scope="public_profile,email" show-faces="false" onlogin="checkLoginState();">
</fb:login-button> -->

	<h3 align="right">Profile</h3>
	<!-- <p> <a href="/snakes/hiss"/> /snakes/hiss </a></p> -->
	<p align="right"> <a href="/profile"/> profile page </a></p>
	<p align="right"> <a href="/friends"/> friends page </a></p>
	<p align="right"> <a href="/upload"/> upload page </a></p>
	<p align="right"> <a href="/createProfile"/> createProfile page </a></p>



<!--
  // Below we include the Login Button social plugin. This button uses
  // the JavaScript SDK to present a graphical Login button that triggers
  // the FB.login() function when clicked. -->


<div id="status">
</div>

</body>

</html>